services:
  heroes-af5-axonserver-n1:
    image: axoniq/axonserver:2025.2.4
    hostname: axonserver
    ports:
      - "8024:8024"  # HTTP port
      - "8124:8124"  # gRPC port
    environment:
      AXONIQ_AXONSERVER_HOSTNAME: axonserver
      AXONIQ_AXONSERVER_STANDALONE_DCB: true
      AXONIQ_AXONSERVER_DEVMODE_ENABLED: true
    volumes:
      - ./volumes/axonserver-n1/data:/axonserver/data
      - ./volumes/axonserver-n1/events:/axonserver/events
  #   - ./volumes/axonserver-n1/axoniq.license:/axonserver/config/axoniq.license  # uncomment if you have a license file
  heroes-af5-postgres:
    image: postgres:18
    environment:
      POSTGRES_DB: heroes_db
      POSTGRES_USER: heroes_user
      POSTGRES_PASSWORD: heroes_password
    ports:
      - "8768:8768"
    volumes:
      - ./volumes/postgres-axon:/var/lib/postgresql/18/docker
    command: -p 8768